# Create another template called goodbye.erb in views. 
# In this view, use ERB tags to create a variable name. 
# This variable should store the name Joe. 
#Then, using ERB tags, say "Goodbye Joe" in an h1 tag.
<!DOCTYPE html>
    <html>
        <% name = "Joe" %>
        <h1><%= "Goodbye #{name}" %></h1>
    </html>


